{% extends 'admin_basePersona.html' %}

{% block content %}

<div class="content-fluid">
    <p></p>
    <div class="container">
        <div class="row">
            <div class="col-6">
            <div class="card">
                <div class="card-header">
                <h3 class="card-title">Listado de C&oacute;digos a Pagar en el mes</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head-fixed text-nowrap table-hover">
                    <thead>
                    <tr>
                        <th>Fecha Limite</th>
                        <th>C&oacute;digo</th>
                        <th>Importe</th>
                        <th>Opciones</th>
                    </tr>
                    </thead>
                    <tbody>
                        {%for i in pagos %}
                            {%if not i.estado%}
                                {%if hoy == i.fecha or hoy[3:5]>i.fecha[3:5] or hoy[:3]>i.fecha[:3] and hoy[3:5]==i.fecha[3:5] %}
                                    <tr class="bg-red">
                                        <td>{{i.fecha}}</td>
                                        <td>{{i.codigo}}</td>
                                        <td>{{i.importe}}</td>
                                        <td>Pagar <i class="fas fa-arrow-right"></i></td>
                                    </tr>
                                {%else%}
                                    <tr class="bg-warning">
                                        <td>{{i.fecha}}</td>
                                        <td>{{i.codigo}}</td>
                                        <td>{{i.importe}}</td>
                                        <td>Pagar <i class="fas fa-arrow-right"></i></td>
                                    </tr>
                                {%endif%}
                            {%endif%}
                    {%endfor%}
                    </tbody>
                </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-6">
                        <div class="small-box bg-info">
                            <div class="inner">
                              <h3>{{cod}}/{{total}}</h3>
                              
                              <p>C&oacute;digos Pagados este mes</p>
                            </div>
                            <div class="icon">
                              <i class="ion ion-bag"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                          </div>
                    </div>
                    <div class="col-6">
                        {%if not atraso==0 %}
                        <div class="small-box bg-red">
                            <div class="inner">
                              <h3>{{atraso}}</h3>
                              <p>Total de días de mora</p>
                            </div>
                            <div class="icon">
                              <i class="ion ion-bag"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                          </div>
                          {%else%}
                          <div class="small-box bg-info">
                            <div class="inner">
                              <h3>{{atraso}}</h3>
                              <p>Total de días de mora</p>
                            </div>
                            <div class="icon">
                              <i class="ion ion-bag"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                          </div>
                          {%endif%}
                    </div>
                    <div class="col-12">
                        <div class="small-box bg-info">
                            <div class="inner">
                              <h3>150</h3>
              
                              <p>New Orders</p>
                            </div>
                            <div class="icon">
                              <i class="ion ion-bag"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}