{% extends 'base.html' %}

{% block content %}
<p></p>
<style>
    .dataTables_wrapper .dataTables_paginate .paginate_button {
    margin-right: 5px;
}
.dataTables_filter input {
  border-radius: 10px;
}

</style>
<div class="content">
    <div class="container">

        <div class="card">
            <div class="card-header">
              <h3 class="card-title">Listado de C&oacute;digos Tributarios</h3>
              <div class="float-right">
                <a href="{{ url_for('cod_add') }}" class="btn btn-primary btn-flat">
                    <i class="fas fa-plus"></i> A&ntilde;adir
                </a>
                    </div>
            </div>
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>C&oacute;digo</th>
                    <th>Descripci&oacute;n</th>
                    <th>Opciones</th>
                  </tr>
                  </thead>
                  <tbody>
                    {% for i in list %}
                    <tr>
                      <td>{{i[1]}}</td>
                      <td>{{i[2]}}</td>
                      <td>
                        {% if i[3] == 'simple' %}
                        <a href="#" class="btn btn-warning btn-xs btn-flat"><i class="fas fa-edit"></i></a>
                        <a href="#" class="btn btn-danger btn-xs btn-flat"><i class="fas fa-trash-alt"></i></a>
                        {% elif i[3] == 'salario' %}
                        <a href="#" class="btn btn-warning btn-xs btn-flat"><i class="fas fa-edit"></i></a>
                        <a href="#" class="btn btn-danger btn-xs btn-flat"><i class="fas fa-trash-alt"></i></a>
                        {% elif i[3] == 'mora' %}
                        <a href="#" class="btn btn-warning btn-xs btn-flat"><i class="fas fa-edit"></i></a>
                        <a href="#" class="btn btn-danger btn-xs btn-flat"><i class="fas fa-trash-alt"></i></a>
                        {% endif %}
                      </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

  <script>
    $(function () {
    $("#example1").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      "dom":'<"row"<"col-sm-12"f>>' +
           '<"row"<"col-sm-12"t>>' +
           '<"row"<"col-sm-12"i><"col-sm-12"p>>',
      "language": {
        "search": "Buscar",
      "emptyTable": "No hay datos disponibles en la tabla", // cambia el mensaje para cuando la tabla está vacía
      "info": "Mostrando _START_ a _END_ de _TOTAL_ filas", // cambia el mensaje de información de la tabla
      "infoEmpty": "Mostrando 0 a 0 de 0 filas", // cambia el mensaje de información de la tabla cuando no hay datos
      "infoFiltered": "(filtrado de _MAX_ filas totales)",
      "paginate": {
        "next": "Siguiente", // cambia el texto del botón para ir a la siguiente página
        "previous": "Anterior" // cambia el texto del botón para ir a la página anterior
      }
    },
    "initComplete": function(settings, json) {
      $('.dataTables_filter input').addClass('form-control');
    }
    }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
  });
  </script>
{% endblock %}